.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(var(--primary));
  height: 80px;
  border-radius: 6px;
}

.search-filter input {
  outline: none;
  border: none;
  width: 100%;
  color: rgb(var(--secondary));
  font-size: 1rem;
  background-color: rgb(var(--primary));
}

.search-filter input::placeholder {
  color: rgba(var(--secondary), 0.5);
}

.search-filter div {
  flex: 1;
  padding: 28px 16px;
  border-right: solid 2px rgba(var(--secondary2), 0.2);
  display: flex;
  align-items: center;
}

.search-filter img {
  margin: 0px 16px;
}
.search-filter div:first-child {
  flex: 1.5;
}

.search-filter div:last-child {
  border: none;
}

.last-filter {
  border-right: none;
  justify-content: space-between;
  font-size: 1rem;
}

.last-filter input {
  display: none;
}

.last-filter label {
  position: relative;
  padding-left: 40px;
  font-weight: bold;
  color: rgb(var(--secondary));
  cursor: pointer;
}

.last-filter label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -2px;
  width: 24px;
  height: 24px;
  background-color: rgba(var(--secondary), 0.1035);
  border-radius: 3px;
}

.last-filter label:hover::after {
  background-color: rgba(var(--accent), 0.25);
}

.last-filter.checked label::after {
  background: rgb(var(--accent)) url("/assets/desktop/icon-check.svg") center
    no-repeat;
  opacity: 1;
}

.search-filter.mobile {
  display: none;
  padding: 28px 16px;
}

.search-svg {
  filter: brightness(0) invert(1);
}

.search-filter.overlay {
  position: fixed;
  top: 225px;
  left: 10%;
  right: 10%;
  z-index: 3;
  height: auto;
  display: block;
}

.search-filter.overlay div {
  border-bottom: solid 2px rgba(var(--secondary2), 0.2);
}

.last-filter.mobile {
  display: block;
}

.last-filter.mobile button {
  margin-top: 30px;
}

@media (max-width: 1140px) {
  .search-filter-desktop div:first-child {
    flex: 1;
  }
}

@media (max-width: 1075px) {
  .remove {
    display: none;
  }
}

@media (max-width: 940px) {
  .search-filter.desktop {
    display: none;
  }

  .search-filter.mobile {
    display: flex;
  }
}
